html {
    height: 100%;
}

body {
    height: 100%;
    background: url('../img/bg.jpg') 100% no-repeat;
    background-color: #282828;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    font-family: 'Helvetica Neue', Tahoma, Arial;
}

a {
    color: #fff;
    text-decoration: none;
}

header,
.wrapper {
    width: 100%;
    margin: 0 auto;
    color: #fff;
}

header {
    height: 36px;
    background-image: url('../img/pattern-header.jpg');
    background-repeat: repeat-x;
    font-size: 14px;	
}


    /*HEADER*/

header div,
span,
header ul {
    float: right;
}

.login,
.ofers a,
.menu li {
    display: inline-block;
    padding: 0 14px;
    line-height: 36px;
}

.login {
    margin-right: 20px;
    border: 1px solid #4b9dd6;
    border-top: 0;
    background: linear-gradient(to top, #2e7ac4, #51b1dc);
    line-height: 35px;
}

.login a {
    text-decoration: underline;
}

.login a:hover {
    text-decoration: none;
}

.ofers {
    vertical-align: center;
}

.vertical-line {
    width: 5px;
    height: 31px;
    margin-top: 2px;
    border-right: 1px solid #4b9dd6;
}


.menu li:hover,
.menu a:hover,
.menu .active {
    background-color: #4eabda;
    color: #fff;
}

.menu a {
    color: #5fb5ec;
}


    /*WRAPPER*/

.wrapper {
    display: table;
    height: 100%;
}

.conteiner {
    display: table-cell;
    vertical-align: middle;
}

.top,
.registration {
    width: 560px;
    height: 615px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .63);
    text-align: center;
}

.top {
    height: 62px;
    font-size: 24px;
    line-height: 62px;
}


    /*REGISTRATION*/

.registration {
    height: 550px;
    margin-top: 2px;
    color: #cbcbcb;
}

.registration img {
    margin: 0 auto;
    padding-top: 36px;
}

table {
    width: 277px;
    margin: 30px auto;
    border-collapse: unset;
}

.OU {
    width: 30px;
    color: #999;
    font-size: 14px;
    vertical-align: middle;
}

.bd-top {
    border-bottom: 1px solid #666;
}

.bd-bottom {
    border-top: 1px solid #000;
}


    /*FORM*/

form > * {
    display: block;
    width: 277px;
    height: 35px;
    margin: 15px auto;
    border: 0;
    color: #cbcbcb;
}

input {
    padding-left: 19px;
    border-bottom: 1px solid #4a4a48;
    background: linear-gradient(to bottom, #111 0%, #0e0d0d 100%);
}

form .active,
#email:focus,
#password:focus,
#email:focus,
#LastName:focus,
#password2:focus {
    width: 277px;
    height: 35px;
    border-bottom: 1px solid #699ccd;
    background: -moz-radial-gradient(center, ellipse cover, #1d5892 0%, #1a4166 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(0%, #1d5892), color-stop(100%, #1a4166)); /* safari4+,chrome */
    background: -webkit-radial-gradient(center, ellipse cover, #1d5892 0%, #1a4166 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, #1d5892 0%, #1a4166 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, #1d5892 0%, #1a4166 100%); /* ie10+ */
    background: radial-gradient(ellipse at center, #1d5892 0%, #1a4166 100%); /* w3c */
    color: #fff;
    box-shadow: 2px 2px 6px #699ccd, -2px -2px 6px #699ccd;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d5892', endColorstr='#1a4166', GradientType=0); /* ie6-9 */
}

label {
    display: block;
    width: 300px;
    margin: 0 auto -10px;
    padding: 0;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
}

form [type=submit] {
    width: 150px;
    height: 34px;
    margin-bottom: 20px;
    padding: 0;
    border: 1px solid #53a0da;
    border-radius: 5px;
    background: linear-gradient(#3c8fce 0%, #79d9f9 2%, #50aedb 8%, #3c8fce 50%, #2e72b5 100%);
}

form [type=submit]:hover {
    background: linear-gradient(#50aedb 0%, #2e7ac4 100%);
    font-weight: bold;
    cursor: pointer;
}

p {
    color: #cbcbcb;
    font-size: 11px;
    line-height: 15px;
}

