*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url(../img/Background.png);
  font-family: tahoma, monospace;
  font-size: 12px;
}
.main{
  margin: 0 auto;
  width: 1000px;
  height: 990px;
  background-color: white;
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.50);
  border-bottom: 3px solid #031d28;
}
.header{
position: relative;
}
.logo{
  float: left;
  width: 320px;
  height: 175px;
  background-image: url(../img/logo.png);
}
.logo p{
  position: absolute;
  left: 100px;
  top: 110px;
  color: #128aa7;
}
.contacts{
  position: absolute;
  right: 30px;
  top: 13px;
  color: #128aa7;
}
.p1{
  font-weight: bold;
  margin-bottom: 5px;
}
.countries{
  position: absolute;
  right: 30px;
  top: 110px;
  font-size: 0;
  max-width: 400px;
  margin: 0 auto;

}
.flag {
  display: block;
  float: right;
  width: 56px;
  padding: 1px;
  margin: 1px;
  font-size: 10px;
  text-align: center;
}
.flag a{
  color: #128aa7;
}
.flag img {
  margin-bottom: 2px;
  max-width: 100%;
}
.photo{
  overflow: hidden;
  width: 1000px;
  height: 237px;
  border-top: 1px solid 128aa7;
}
.panel{
  height: 33px;
  background-color: #373737;
  border-bottom: 1px solid black;
  box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.63);
}
.panel ul{
  display: inline-block;
  list-style: none;
}
.panel ul ::after{
  content: ' ';	
  display: block;
  clear: both;
  float: none;
}
.panel .menu{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.menu > li{
  flex: auto;
  float: none;
  position: relative;
}
.menu1{
  width: 129px;
}
.menu .menu2 >a{
  text-align: left;
}
.menu .menu3 >a{
  text-align: left;
}
.menu .menu4 >a{
  text-align: left;
}
.menu > li > a{
  display: block;
  padding: 6px 10px;
  color: white;
  text-decoration: none;
  border-top: 1px solid #cacbcb;
  font-size: 14px;
  text-align: center;
}
.menu .submenu1 {
  display: none;
  position: absolute;
  width: 100%;
  top: 100%;
  text-align: left;
  background-color: #373737;
  box-shadow: 0px 9px 12px 0px rgba(0,0,0,0.66);
  font-size: 14px;
  border-top: 1px solid black;
}
.menu .submenu2 {
  display: none;
  position: absolute;
  width: 100%;
  top: 100%;
  text-align: left;
  background-color: #373737;
  box-shadow: 0px 9px 12px 0px rgba(0,0,0,0.66);
  font-size: 14px;
  border-top: 1px solid black;
}
.menu .submenu3 {
  display: none;
  position: absolute;
  width: 100%;
  top: 100%;
  text-align: left;
  background-color: #373737;
  box-shadow: 0px 9px 12px 0px rgba(0,0,0,0.66);
  font-size: 14px;
  border-top: 1px solid black;
}
.submenu1 > li > a {
  text-decoration: none;
  color: white;
}
.submenu2 > li > a {
  text-decoration: none;
  color: white;
}
.submenu3 > li > a {
  text-decoration: none;
  color: white;
}
.submenu1 > li{
  padding: 6px 10px;
}
.submenu2 > li{
  padding: 6px 10px;
}
.submenu3 > li{
  padding: 6px 10px;
}
.menu > li:hover > ul.submenu1 {
  display: block;
}
.menu > li:hover > ul.submenu2 {
  display: block;
}
.menu > li:hover > ul.submenu3 {
  display: block;
}
/*sidebar*/
.block{
  text-align: center;
  width: 1000px;
  background: #FFF url(../img/fonte.png) repeat-y;
  float: left;
  font-size: 14px;
}
.block p{
  text-align: left;
  padding: 3px 0 4px 14px;
}
.block h3{
  padding-top: 13px;
  padding-bottom: 8px;
}
.sidebar  {
  width: 210px ;
  background-color: #edeef0;
  float: left;
}
.content{
  width: 210px ;
  background-color: #edeef0;
  float: right;
  border-left: 1px solid #c7cacf;
}
/*footer*/
.footer{
  color: white;
  height: 30px;
  text-align: center;
}
.footer p{
  padding-top: 6px;
}
